.product-image {
  width: 12em;
  height: 10em;
}

.title-product {
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}

.description-product {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 800;
}
